<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Aprender arquitectura es divertido, ¿o no?</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    
  </ul>
<em>Variant: <%= typeof variant != 'undefined' ? variant : 'default' %></em>
</nav>

...