<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center; /* Align vertically center */
            justify-content: center; /* Align horizontally center */
        }
        .btn-main {
            padding: 20px 40px; /* Larger padding for bigger buttons */
            font-size: 20px; /* Larger font size */
            margin: 10px; /* Space between buttons */
            width: 200px; /* Same width for all buttons */
        }
    </style>
</head>
<body>
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-12">
                <h2>Colección Digital</h2>
                <div class="button-container">
                    <a href="/pokemon" class="btn btn-primary btn-main">Pokemon</a>
                    <a href="/invizimal" class="btn btn-primary btn-main">Invizimal</a>
                    <a href="/gormiti" class="btn btn-primary btn-main">Gormiti</a>
                </div>
            </div>
        </div>
    </div>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
