<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Ingeniería de Software II: </h1>
         <h1>Realmente ¿Cómo funciona JavaScript?</h1>
        <p>Ahora podemos utilizar EJS como motor de vistas, pero también podríamos utilizar Jade</p>
    </div>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
